@font-face {
  font-family: 'DniproCityBold';
  src: url('../fonts/DniproCity-Bold.eot');
  src: local('../fonts/DniproCity Bold'), local('../fonts/DniproCity-Bold'), url('../fonts/DniproCity-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DniproCity-Bold.woff') format('woff'), url('../fonts/DniproCity-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DniproCityReg';
  src: url('../fonts/DniproCity-Regular.eot');
  src: local('../fonts/DniproCity Regular'), local('../fonts/DniproCity-Regular'), url('../fonts/DniproCity-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DniproCity-Regular.woff') format('woff'), url('../fonts/DniproCity-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 3px;
  margin-right: -10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: radial-gradient(circle, aliceblue 58%, rgba(2, 0, 36, 0) 71%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DniproCityReg';
  color: #38ebeb;
}
body {
  background-color: darkslategray;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wraper {
  position: relative;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.779);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.header .header-info {
  display: flex;
  align-items: center;
}
.header .header-ind {
  margin-left: 30px;
}
.header .header-img {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 2px 0 #fff;
  margin: 0 30px;
  border-radius: 3px;
}
.header .header-log {
  cursor: pointer;
  font-size: 25px;
  margin-right: 30px;
}
.header .log-out {
  position: absolute;
  top: 60px;
  right: 10px;
  background: rgba(0, 0, 0, 0.779);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  display: none;
}
main {
  margin-top: 70px;
  min-height: calc(100vh - 135px);
}
.main {
  margin: auto;
  max-width: 1200px;
  margin-bottom: 30px;
}
.main .site-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.main .site-bar p {
  background: rgba(0, 0, 0, 0.779);
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 8px;
  margin-right: 5px;
}
.main .main-opinies-cal {
  display: flex;
  justify-content: space-between;
}
.main .main-opinies-cal .look-calendar {
  width: 270px;
  border-radius: 10px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.779);
}
.main .main-opinies-cal .look-calendar #calendar {
  width: 100%;
  line-height: 2em;
  font-size: 16px;
  text-align: center;
  border-spacing: 0px;
}
.main .main-opinies-cal .look-calendar #calendar tr.dn td {
  font-size: 15px;
}
.main .main-opinies-cal .look-calendar #calendar thead tr:last-child {
  font-size: small;
  color: #555555;
}
.main .main-opinies-cal .look-calendar #calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #d5d5d5;
}
.main .main-opinies-cal .look-calendar #calendar thead tr:nth-child(1) td:nth-child(1):hover,
.main .main-opinies-cal .look-calendar #calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
.main .main-opinies-cal .look-calendar #calendar tbody td {
  color: #a0d2ff;
}
.main .main-opinies-cal .look-calendar #calendar tbody td:nth-child(n+6),
.main .main-opinies-cal .look-calendar #calendar .holiday {
  color: #fa0606;
}
.main .main-opinies-cal .look-calendar #calendar tbody td.today {
  background: #dc0000;
  color: #fff;
  border-radius: 3px;
}
.main .main-opinies-cal .look-calendar .admin-calendar-item {
  cursor: pointer;
}
.main .main-opinies-cal .opinies {
  background: rgba(0, 0, 0, 0.779);
  border-radius: 10px;
  padding: 10px;
  width: 76%;
}
.main .main-opinies-cal .opinies h6 {
  font-size: 16px;
  color: #d5d5d5;
  margin-bottom: 10px;
  font-weight: normal;
}
.main .main-opinies-cal .opinies .body-opinies {
  color: #a0d2ff;
  border-bottom: 1px solid ;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 5px;
  padding-bottom: 3px;
}
.main .main-opinies-cal .opinies .body-main-opinies {
  height: 198px;
  overflow-y: auto;
}
.main .main-opinies-cal .opinies .opinies-box {
  padding: 3px 0;
}
.main .orders-main {
  background: rgba(0, 0, 0, 0.779);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.main .orders-main h6 {
  font-size: 16px;
  color: #d5d5d5;
  font-weight: normal;
}
.main .orders-main .orders-head {
  display: flex;
  margin-top: 10px;
}
.main .orders-main .orders-head li {
  color: #a0d2ff;
}
.main .orders-main .orders-body {
  height: 250px;
  overflow-y: auto;
}
.main .orders-main .order-body-div {
  padding: 10px 0;
  border-bottom: 1px solid #a0d2ff;
  display: flex;
}
.main .orders-main .order-body-div a {
  color: #a0d2ff;
}
.main .orders-main .order-body-div .orders-item-adaptive {
  color: #a0d2ff;
  display: none;
}
.main .orders-main .order-body-div p:nth-child(1),
.main .orders-main .orders-head li:nth-child(1) {
  width: 10%;
}
.main .orders-main .order-body-div p:nth-child(2),
.main .orders-main .orders-head li:nth-child(2) {
  width: 30%;
}
.main .orders-main .order-body-div p:nth-child(3),
.main .orders-main .orders-head li:nth-child(3) {
  width: 20%;
}
.main .orders-main .order-body-div p:nth-child(4),
.main .orders-main .orders-head li:nth-child(4) {
  width: 10%;
}
.main .orders-main .order-body-div p:nth-child(5),
.main .orders-main .orders-head li:nth-child(5) {
  width: 20%;
}
.main .orders-main .order-body-div p:nth-child(6),
.main .orders-main .orders-head li:nth-child(6) {
  width: 10%;
}
.main .orders-main .order-body-div p:nth-child(4),
.main .orders-main .order-body-div p:nth-child(5),
.main .orders-main .order-body-div p:nth-child(6) {
  font-size: 14px;
  cursor: pointer;
}
.footer {
  display: flex;
  background: rgba(0, 0, 0, 0.779);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  display: flex;
  align-items: center;
}
.footer p a {
  color: #a0d2ff;
}
.footer img {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 2px 0 #fff;
  border-radius: 4px;
  margin: 0 10px;
}
.login-main {
  width: 300px;
  background: rgba(0, 0, 0, 0.779);
  padding: 10px;
  margin: 200px auto;
  text-align: center;
  border-radius: 10px;
  border: 1px solid;
}
.login-main h6 {
  color: #d5d5d5;
  font-size: 25px;
  font-weight: normal;
}
.login-main .login-input {
  padding: 20px 0;
}
.login-main .login-input input {
  margin-bottom: 20px;
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 6px;
}
.login-main .login-input .login-btn {
  background-color: darkslategray;
  border: none;
  width: 183px;
  cursor: pointer;
  padding: 5px;
  border-radius: 6px;
  color: #a0d2ff;
}
.new-worker-main {
  background: rgba(0, 0, 0, 0.779);
  padding: 20px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  max-width: 500px;
}
.new-worker-main i {
  margin-right: 3px;
}
.new-worker-main h6 {
  color: #d5d5d5;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}
.new-worker-main .edit-data-master p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.new-worker-main .edit-data-master input {
  width: 300px;
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 6px;
}
.new-worker-main .new-worker-btn {
  display: flex;
  justify-content: space-around;
}
.new-worker-main .new-worker-btn .service-edit-div a {
  color: #dc0000;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
}
.new-worker-main .new-worker-btn .service-edit-div .a {
  color: #dc0000;
  margin-left: 4px;
}
.new-worker-main .new-worker-btn .edit-button {
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
}
.worker-main {
  background: rgba(0, 0, 0, 0.779);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
}
.worker-main h6 {
  color: #d5d5d5;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}
.worker-main .worker-head li {
  color: #a0d2ff;
}
.worker-main .worker-head,
.worker-main .worker-body-u {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.worker-main .worker-head li,
.worker-main .worker-body-u li {
  display: flex;
  align-items: center;
}
.worker-main .worker-head li img,
.worker-main .worker-body-u li img {
  margin-right: 5px;
  border-radius: 6px;
  box-shadow: 0 0 2px #fff;
}
.worker-main .worker-body-u {
  margin: 10px 0;
  border-bottom: 1px solid;
  padding-bottom: 2px;
}
.worker-main .worker-body-u button {
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
}
.zvitu-main {
  background: rgba(0, 0, 0, 0.779);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
}
.zvitu-main h6 {
  color: #d5d5d5;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}
.zvitu-main .zvitu-head-btn {
  margin-top: -34px;
  display: flex;
  justify-content: right;
}
.zvitu-main .zvitu-head-btn p {
  margin-right: 5px;
}
.zvitu-main .zvitu-head-btn .zvitu-head-input {
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 6px;
}
.zvitu-main .zvitu-head-btn p,
.zvitu-main .zvitu-download {
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
}
.zvitu-main .zvitu-body {
  margin-top: 20px;
}
.zvitu-main .zvitu-body .zvitu-li-1 {
  width: 15%;
}
.zvitu-main .zvitu-body .zvitu-li-2 {
  width: 67%;
}
.zvitu-main .zvitu-body .zvitu-li-3 {
  width: 13%;
}
.zvitu-main .zvitu-body .zvitu-edit-btn {
  background-color: darkslategray;
  padding: 1px 5px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
}
.zvitu-main .zvitu-info-wind span {
  display: flex;
  margin-bottom: 10px;
}
.zvitu-main .zvitu-info-wind {
  text-align: center;
  position: fixed;
  background: darkslategray;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  top: 20%;
  left: 50%;
  margin-left: -150px;
  display: none;
  border: 1px solid;
}
.zvitu-main .zvitu-info-wind .closed-info-wind {
  position: absolute;
  top: 7px;
  right: 11px;
  font-size: 18px;
  color: red;
}
.clients-main {
  background: rgba(0, 0, 0, 0.779);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
}
.clients-main h6 {
  display: flex;
  justify-content: space-between;
  color: #d5d5d5;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}
.clients-main h6 input {
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 6px;
}
.clients-main .clients-ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid;
}
.clients-main .clients-ul a {
  color: #a0d2ff;
}
.clients-main .clients-ul li {
  width: 30%;
}
.new-order-main {
  background: rgba(0, 0, 0, 0.779);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  max-width: 90%;
}
.new-order-main h6 {
  color: #d5d5d5;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}
.new-order-main .new-order-box {
  margin-bottom: 10px;
}
.new-order-main input,
.new-order-main select,
.new-order-main button {
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.setting-main {
  background: rgba(0, 0, 0, 0.779);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  max-width: fit-content;
}
.setting-main h6 {
  color: #d5d5d5;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}
.setting-main input {
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
  width: 200px;
}
.setting-main button {
  margin-top: 10px;
  background-color: darkslategray;
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 200px;
}
.setting-main p {
  background-color: darkslategray;
  padding: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  width: 200px;
}
.setting-main .setting-box-1 {
  margin-right: 10px;
}
.setting-main .setting-box-1-input,
.setting-main .setting-box-2-input {
  display: none;
}
@media screen and (max-width: 746px) {
  .main .orders-main .order-body-div {
    display: block;
  }
  .main .orders-main .order-body-div .orders-item-adaptive {
    display: block;
    margin-right: 10px;
  }
  .main .orders-main .order-body-div p {
    display: flex;
    width: 100% !important;
    margin-bottom: 10px;
  }
  .main .orders-main .orders-head {
    display: none;
  }
  .main .site-bar p {
    margin-right: 0;
    margin: 5px;
  }
  .main .main-opinies-cal {
    display: block;
  }
  .main .main-opinies-cal .opinies {
    margin-top: 20px;
    width: 100%;
  }
  .main .main-opinies-cal .look-calendar {
    width: 100%;
  }
  .header {
    font-size: 11px;
  }
  .header .header-img {
    margin: 0 10px;
  }
  .new-worker-main {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .new-worker-main i {
    display: none;
  }
  .new-worker-main input {
    width: 209px !important;
  }
  .worker-body,
  .clients-body {
    font-size: 13px;
  }
  .clients-main h6 input {
    width: 200px;
  }
}
